{% extends 'core/base.html' %}
{% load static %}
{% block title %} Inicio
{% endblock title %}
{% block extrastyle %}
	<style>
		#project img {
			height: 380px;
		  }
	</style>
{% endblock extrastyle %}

{% block content %}

	

{% include 'core/components/header.html' %}
<div id="marcas_empresarial">
	{% include 'core/components/marcas.html' %}
</div>
{% include 'core/components/about.html' %}
{% include 'core/components/project.html' %}
{% include 'core/components/portfolio.html' %}


{% include 'core/components/paquetes.html' %}

{% include 'core/components/galeria.html' %}

{% include 'core/components/faqs.html' %}
{% include 'core/components/sidenav.html' %}

{% include 'core/components/video.html' %}

{% include 'core/components/contacto.html' %}

{% include 'core/components/facilidades.html' %}



	
	{% endblock content %}



