{% load static %}

	<!-- Start about Area -->
	<section class="section-gap info-area" id="about" data-aos="fade-up">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-40 col-lg-8">
					<div class="title text-center">
						<h1 class="mb-10 theme-llamativo">Acerca de MARV EVENTOS</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					</div>
				</div>
			</div>
			<div class="single-info row mt-40">
				<div class="col-lg-6 col-md-12 mt-120 text-center no-padding info-left">
					<div class="info-thumb">
						<img src="{% static 'core/img/about/about1.webp' %}" class="img-fluid" alt="">
					</div>
				</div>
				<div class="col-lg-6 col-md-12 no-padding info-rigth">
					<div class="info-content">
						<h3 class="pb-30">Renta de equipos audiovisuales en Ciudad de México.</h3>
						<p>
							Si quieres que la fiesta empiece con estilo, no busques más, MARV Eventos es tu proveedor. ¿Necesitas iluminación? Claro que sí. ¿Proyectores? Por supuesto. ¿Sistemas de sonido o micrófonos? Absolutamente. Ponte en contacto con nuestro equipo hoy mismo al 55-3727-4694 y haremos que tu evento sea inolvidable. Ofrecemos renta de equipos con o sin configuración, y ninguna solicitud es demasiado pequeña. Así que, si necesitas un par de luces de escenario o una configuración completa, háznoslo saber.
						</p>
						<br>
						<h3>Técnicos con experiencia</h3>
						<p>
							Sabemos que la organización de un evento requiere mucha preparación, por eso contamos con un equipo de técnicos bien preparados. Nuestro personal puede ser contratado para ayudar con el montaje y desmontaje de nuestro equipo alquilado, para asegurar que tu día transcurra sin problemas de principio a fin. Si tienes tu propio equipo y necesitas ayuda para usarlo, también podemos ir al rescate. Envíanos un mensaje a continuación para hablar con un experto hoy mismo.
						</p>
						<br>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End about Area -->