{% load static %}
{% block extrastyle %}
<style>
    .btn-headbanner-container {
        top: 0%;
    }
    .container-head-txt h1 {
        font-family: "Poppins", sans-serif;
        font-size: 50px;
        font-weight: normal;
        line-height: 1em;
        margin-bottom: 10px;
    }
    .eventos-btn-head {
        position:absolute;
        text-align: center;
        margin: 10% -2.5% 0px;
        width: 100%;;
    }
    #head_text {
        padding: 0 12%;
    }
     
</style>
{% endblock extrastyle %}

<section class="default-banner active-blog-slider">
    
    <div  id="bannerImg1" class="item-slider relative" data-hash="" style="background-size: cover;">
        <div class="overlay" style="background: rgba(0,0,0,.3)"></div>
        <div class="container">
            <div class="row fullscreen justify-content-center align-items-center">
            </div>
        </div>
    </div>

    <div  id="bannerImg2" class="item-slider relative" data-hash="" style="background-size: cover;">
        <div class="overlay" style="background: rgba(0,0,0,.3)"></div> 
        <div class="container">
            <div class="row fullscreen justify-content-center align-items-center">
            </div>
        </div>
    </div>

    <div  id="bannerImg3" class="item-slider relative" data-hash="" style="background-size: cover;">
        <div class="overlay" style="background: rgba(0,0,0,.3)"></div>
        <div class="container">
            <div class="row fullscreen justify-content-center align-items-center">
            </div>
        </div>
    </div>

</section>
<div id="mainControlersHeader" class="btn-headbanner-container">
    <div class="container container-head-txt">
        <div class="row fullscreen justify-content-center align-items-center">
            <div class="col-md-10 col-12">
                <div class="banner-content text-center">
                    <h4 id="head_subtitle" class="text-white mb-20 text-uppercase subheader">Dj, Iluminación, Sonido y más...</h4>
                    <h1 id="head_title" class="text-uppercase text-white">Eventos Sociales</h1>
                    <p  id="head_text" class="text-white display-responsive">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp <br>
                        or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                    <a href="#" class="llamativo-back text-uppercase header-btn">Saber Más</a>              
                </div>
                <div class="eventos-btn-head">
                    <button class="phantom inst-one-color" onclick="setTheme('inst');setImgs('empresarial');"><a href="#empresarial"><span class="iconify" data-icon="si-glyph:disc-remove"></span>Empresariales</a></button>
                    <button class="phantom social-one-color" onclick="setTheme('social');setImgs('social');"><a href="#social"><span class="iconify" data-icon="si-glyph:disc-remove"></span>Sociales</a></button>
            
                </div>
                    
            </div>

        </div>
    </div>
    


</div>

{% block scripts %}
<script>
    
    // Tomar variables django default imgs
    var headImg1, headImg2, headImg3;

    // tomar elementos details.html
    const bannerImg1 = document.getElementById('bannerImg1')
    const bannerImg2 = document.getElementById('bannerImg2')
    const bannerImg3 = document.getElementById('bannerImg3')
    const head_title = document.getElementById('head_title')
    const head_subtitle = document.getElementById('head_subtitle')
    const head_text = document.getElementById('head_text')

    

    

</script>
{% endblock scripts %}