{% load static %}

<style>
    .owl-carousel-2  img {
        margin: 5% 0 5%;
        padding: 5%;
        width: auto!important;
        max-height: 120px!important;
    }
</style>
<div class="owl-carousel-2" data-aos="zoom-in">
    <div> <img  src="{% static 'core/img/marcas/a.jpg' %}" /></div>
    <div> <img  src="{% static 'core/img/marcas/b.jpg' %}" /></div>
    <div> <img  src="{% static 'core/img/marcas/c.png' %}" /></div>
    <div> <img  src="{% static 'core/img/marcas/d.jpg' %}" /></div>
    <div> <img  src="{% static 'core/img/marcas/e.jpg' %}" /></div>
    <div> <img  src="{% static 'core/img/marcas/f.jpg' %}" /></div>
    <div> <img  src="{% static 'core/img/marcas/g.png' %}" /></div>
    <div> <img  src="{% static 'core/img/marcas/h.png' %}" /></div>
  </div>

