{% load static %}

<!-- Start project Area -->
<section id="projectArea" class="project-area section-gap" id="project" data-aos="fade-up">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-30 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10 theme-llamativo">Eventos de éxito</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center d-flex">
            <div class="active-works-carousel mt-40 col-lg-8">
                <div class="item">
                    <img id="evento1" class="img-fluid" src="" alt="">
                    <div class="caption text-center mt-20">
                        <h6 id="project_titulo_1" class="text-uppercase">Evento 1</h6>
                        <p  id="project_sub_1" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, eiusmod tempor incididunt utsed do eiusmod tempor incididunt ut <br> labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="item">
                    <img id="evento2" class="img-fluid" src="" alt="">
                    <div class="caption text-center mt-20">
                        <h6 id="project_titulo_2" class="text-uppercase">Evento 2</h6>
                        <p id="project_sub_2"  >Lorem ipsum dolor sit amet, consectetur adipisicing elit, eiusmod tempor incididunt utsed do eiusmod tempor incididunt ut <br> labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="item">
                    <img id="evento3" class="img-fluid" src="" alt="">
                    <div class="caption text-center mt-20">
                        <h6 id="project_titulo_3" class="text-uppercase">Evento 3</h6>
                        <p id="project_sub_3" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, eiusmod tempor incididunt utsed do eiusmod tempor incididunt ut <br> labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="item">
                    <img id="evento4" class="img-fluid" src="" alt="">
                    <div class="caption text-center mt-20">
                        <h6 id="project_titulo_4" class="text-uppercase">Evento 4</h6>
                        <p id="project_sub_4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, eiusmod tempor incididunt utsed do eiusmod tempor incididunt ut <br> labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="item">
                    <img id="evento5" class="img-fluid" src="" alt="">
                    <div class="caption text-center mt-20">
                        <h6 id="project_titulo_5" class="text-uppercase">Evento 5</h6>
                        <p id="project_sub_5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, eiusmod tempor incididunt utsed do eiusmod tempor incididunt ut <br> labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    let event1 = document.getElementById('evento1')
    let event2 = document.getElementById('evento2')
    let event3 = document.getElementById('evento3')
    let event4 = document.getElementById('evento4')
    let event5 = document.getElementById('evento5')
    let project_titulo_1 = document.getElementById('project_titulo_1')
    let project_titulo_2 = document.getElementById('project_titulo_2')
    let project_titulo_3 = document.getElementById('project_titulo_3')
    let project_titulo_4 = document.getElementById('project_titulo_4')
    let project_titulo_5 = document.getElementById('project_titulo_5')
    let project_sub_1 = document.getElementById('project_sub_1')
    let project_sub_2 = document.getElementById('project_sub_2')
    let project_sub_3 = document.getElementById('project_sub_3')
    let project_sub_4 = document.getElementById('project_sub_4')
    let project_sub_5 = document.getElementById('project_sub_5')
    let projectArea = document.getElementById('projectArea')
    let event1Img, event2Img, event3Img, event4Img, event5Img, 
    project_txt_1, project_txt_2, project_txt_3, project_txt_4, project_txt_5,
    project_subTxt_1, project_subTxt_2, project_subTxt_3, project_subTxt_4, project_subTxt_5;



</script>


<!-- End project Area -->